[submodule "frontend"]
	path = frontend
	url = https://github.com/Project-Based-Learning-crew-3/subdomain-enumeration-frontend
[submodule "backend"]
	path = backend
	url = https://github.com/Project-Based-Learning-crew-3/subdomain-enumeration-backend/
