/* Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;0,800;1,600;1,700&display=swap');
*
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    background-color: black;
}

input:focus {
    outline: none;
}

input{
    border: 1px solid #fff;
    border-radius: 21.27px;
    background-color: black;
    position: relative;
    width: 353px;
    height: 60.61px;
}



input::after{
/* content:"../assets/search.svg" ; */
position: absolute;
}