/* Poppins font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;0,800;1,600;1,700&display=swap");
/* Raleway font  */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

* *::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

::selection {
  color: none;
  background: none;
}

::-moz-selection {
  color: none;
  background: none;
}

ul{
  list-style: none ;
}


.font-gradient{
  background-image: linear-gradient(
    110deg,
    rgba(172, 195, 25, 0.99) 0%,
    #46933e 63.02%,
    rgba(7, 68, 7, 0.70) 100%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

a{
  color: white;
}

img.copy{
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 33px !important;
  height: 33px !important;
  /* animation: tick  1s ease; */
  /* transition: all 1s; */
}

img.tick{
  position: absolute;
  right: 15px;
  top: 15px;
  width: 30px !important;
  height: 30px !important;
}

.font-gradient2{
  background: linear-gradient(90deg, #CC2B5E 0%, #753A88 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}
table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  border-radius: 10px;
}
.success{
  background: linear-gradient(90deg, #FFE000 0%, #799F0C 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
font-size: 1.5rem;
font-family: "Raleway";
font-weight:500;
}

img.arrowup{
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.clientError{
  background: linear-gradient(90deg, #E65C00 0%, #F9D423 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
font-size : 1.5rem;
font-family: "Raleway";
font-weight:500;
}

.serverError{
  background: linear-gradient(90deg, #E52D27 0%, #B31217 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
font-size: 1.5rem;
font-family: "Raleway";
font-weight:500;
}

@media screen and (max-width: 768px) {
  .loading-animation{
    width: 300px !important;
      height: 300px !important;
  }
  .loading-container{
    margin-top: 7rem !important;
    display: "flex";
    flex-direction: "column";
    align-items: "center";
    justify-content: "center";
  }
  .loading-text{
    font-size: 25px !important;
    padding: 1rem !important;
  }
}

/* animate when clicked copy to transform to tick mark*/
@keyframes tick {
  0% {
    /* transform: scale(0); */
  }
  50% {
    opacity: 1;
    
  }
  100% {
    opacity: 0;
  }
}
